@media (min-width: 992px) {
    .tab-h1 {
    font-size:32px;
    }}

@media (min-width: 768px) {
        .tab-h1 {
        font-size:26px;
        }}

.tab-h1 {
    color:#0059b2;
    font-size:30px;
    letter-spacing: 1px;
    text-align:center;
    margin:45px 0 10px;
    }

.a1{
    style="color: black; 
    font-size: xx-large"
}